.btnCallModal {
  z-index: 56;
}
.disabledClass {
  pointer-events: none;
  cursor: default;
}

.btn-danger .btn-icon {
  background-image: url('../../../public/icons/delete-white.svg');
}

.btn-success .btn-icon {
  background-image: url('../../../public/icons/add-white.svg');
}
.buttonWidth{
  width: 7rem;
}

@media screen and (max-width: 1366px) {
  .btnTablaDom {
    width: 10%;
    padding: 0.1rem 0.2rem 0.1rem 0.2rem;
  }
}
