.modal {
    display: none; /* Oculta la modal por defecto */
    position: fixed; /* Hace que la modal quede fija en la pantalla */
    z-index: 999; /* Asegura que la modal sea el elemento más prominente en la pantalla */
    left: 0;
    top: 0;
    width: 100%; /* Ajusta el ancho a 100% de la pantalla */
    height: 100%; /* Ajusta la altura a 100% de la pantalla */
    overflow: auto; /* Permite que haya una barra de desplazamiento en caso de que el contenido sea demasiado largo */
    background-color: rgba(0, 0, 0, 0.5); /* Ajusta el color de fondo */
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Centra la modal en el medio de la pantalla */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ajusta el ancho a 80% */
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  